body{
    background-color:#19647E;
}


nav{
    background-color: #1F271B;
    color: #fff;
}

.cont_question{
    border: 15px solid #EE964B;
  /*   border: 15px solid #28AFB0; */
    border-radius: 5%;
}
.top{
    border-top-left-radius: 0.5rem; 
    border-top-right-radius: 0.5rem; 
}
.bottom{
    border-bottom-left-radius: 0.5rem; 
    border-bottom-right-radius: 0.5rem; 
}

label.radio {
  cursor: pointer;
}

label.radio input {
  position: absolute;
  top: 0; 
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

label.radio span {
  padding: 4px 0px;
  border: 1px solid red;
  display: inline-block;
  color: red;
  width: 200px;
  text-align: center;
  border-radius: 3px;
  margin-top: 7px;
  text-transform: uppercase;
}

label.radio input:checked + span {
  border-color: red;
  background-color: red;
  color: #fff;
}

label.radio span.active {
  background-color: red;
}


.ans {
  margin-left: 36px !important;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

.btn:active {
  outline: 0 !important;
  box-shadow: none !important;
}