:root{
  --green: #1F271B; 
  --orange: #EE964B;
  --blue: #19647E;
  --highlight: #F4D35E;
  --white:rgb(245, 245, 245);
}

*{
  margin: 0;padding: 0;
}
body{
  background-color:var(--blue);
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.curtain{
  display: flex;
  position: absolute;
  z-index: 100;
}
.curtain > img{
  display: block;
  width: 50%;
  min-height: 100vh;
  min-width: 50vw;
}

@media only screen and (min-width: 76px) {
  .main{
    background-color:var(--orange);
    height: 90vh;
    width: 100vw; 
    margin: 0 auto;
    text-align: center;
    border: 2rem solid var(--orange);
    position: relative;
    box-shadow: 40px 40px 18px 1px var(--green);
  }

  option {
    font-weight:lighter;
    font-size: 0.9rem;
    display: block;
    white-space: nowrap;
    min-height: 0.5em;
    padding: 0px 2px 1px;
  }
  .modalView {
    width: 300px;
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    top: 63%;
    left: 50%;
    background: var(--green);
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    box-shadow: 10px 10px 18px 1px black;
  }

  #modalView__closeBtn {
    position: absolute;
    background: #000000;
    width: 35px;
    border-radius: 35px;
    height: 35px;
    right: -17px;
    top: -17px;
    color: var(--white);
  }
  
}
@media only screen and (min-width: 676px) {
  .main{
    background-color:var(--orange);
    height: 400px;
    width: 600px; 
    margin: 0 auto;
    border-radius: 1rem;
    text-align: center;
    border: 2rem solid var(--orange);
    position: relative;
    box-shadow: 40px 40px 18px 1px var(--green);
  }

  .modalView {
    width: 300px;
    position: absolute;
    z-index: 1000;
    border-radius: 5px;
    display: none;
    justify-content: center;
    align-items: center;
    top: -25%;
    left: 50%;
    background: var(--green);
    transform: translate(-50%, -50%);
    padding: 20px 20px;
    box-shadow: 10px 10px 18px 1px black;
  }

  #modalView__closeBtn {
    position: absolute;
    background: #000000;
    width: 35px;
    border-radius: 35px;
    height: 35px;
    right: -17px;
    top: -17px;
    color: var(--white);
  }
}


.main2{
  background-color: var(--white);
  border-radius: 1rem;
  height:100%;
  width: 100%;
  position: absolute;

}

h1{
  font-family: 'Lobster', cursive;
  text-shadow: 5px 2px var(--blue);
  font-size: 6rem;
  font-weight: 6rem;
  color: var(--orange);
}

/*- button ---------------------------*/
a.btn_17 {
  font-size: 2rem;
	display: block;
	text-align: center;
	text-decoration: none;
	position: relative;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
  font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	color: var(--white);
	background: var(--blue);
	transition: 0.3s ease-in-out;
}

a.btn_17::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  border: 2px solid var(--orange);
  transition: 0.2s;
}

a.btn_17:hover {
	background: var(--orange);
	color: var(--blue);
}

a.btn_17:hover::before {
  top: 0;
  left: 0;
}

select{
  margin-top: 2.7rem;
  margin-bottom: 2.7rem;
  margin-left: 0.7rem;
  padding: 0.7rem;
  background-color: var(--orange);
  color:var(--white);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.3rem;
  border-style:outset;
  border-width: 5px;
  border-color: var(--orange);
  border-radius: 0.3rem;
}
select:hover{
  background-color: var(--blue);
  border-color: var(--blue);
}

/*- Images -------- -------------------------*/
.img_movie{
  width: 60%;
  position: absolute;
  right: 120%;
  top:17%;
}

.img_nega1{
  width: 70%;
  position: absolute;
  left: 150%;
  top: -60%;
}

.img_nega2{
  width: 40%;
  position: absolute;
  left: 140%;
  top: 10%;
}

/* ALERT */
.modalView > .modalView__content {
  color: var(--white);
  font-weight: bold;
}
.modalView > .modalView__content.centered {
  text-align: center;
}

.modalView__content h1 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
.modalView__content p {
  font-size: 1.5rem;
}


#modalView__closeBtn {
  cursor: pointer;
}
#modalView__closeBtn:after,
#modalView__closeBtn:before {
  content: "";
  height: 20px;
  width: 20px;
  border-top: 3px solid var(--white);
  position: absolute;
  top: 13px;
  right: 0px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#modalView__closeBtn:before {
  color: var(--white);
  right: 14px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#modalView__closeBtn:hover {
  background-color: var(--highlight);
}
